In [1]:
from scripts.process_data import ProcessData
processor = ProcessData()
final_dataframe = processor.get_final_dataframe()

DataFrame saved to data/processed/book_reference_dataframe.pkl
DataFrame saved to data/processed/final_dataframe.pkl

In [1]:
import pandas as pd
ref_path = 'data/processed/final_dataframe.pkl'
final_dataframe = pd.read_pickle(ref_path)

In [2]:
from scripts.hybrid_recommendation_model import HybridRecommendation

In [3]:
hr = HybridRecommendation(final_dataframe)

In [4]:
hr.run_train()

Mapping for column 'isbn_gr' saved to data/processed//isbn_gr_mapping.pkl
Epoch 0/13
----------

 50%|█████     | 1/2 [00:22<00:22, 22.66s/it]

train loss: 0.9830

100%|██████████| 2/2 [00:23<00:00, 11.58s/it]

val loss: 0.9627
Epoch 1/13
----------

 50%|█████     | 1/2 [00:23<00:23, 23.43s/it]

train loss: 0.9656

100%|██████████| 2/2 [00:24<00:00, 12.01s/it]

val loss: 0.9600
Epoch 2/13
----------

 50%|█████     | 1/2 [00:23<00:23, 23.22s/it]

train loss: 0.9639

100%|██████████| 2/2 [00:23<00:00, 11.83s/it]

val loss: 0.9589
Epoch 3/13
----------

 50%|█████     | 1/2 [00:23<00:23, 23.21s/it]

train loss: 0.9632

100%|██████████| 2/2 [00:23<00:00, 11.84s/it]

val loss: 0.9585
Epoch 4/13
----------

 50%|█████     | 1/2 [00:24<00:24, 24.17s/it]

train loss: 0.9625

100%|██████████| 2/2 [00:24<00:00, 12.29s/it]

val loss: 0.9574
Epoch 5/13
----------

 50%|█████     | 1/2 [00:21<00:21, 21.80s/it]

train loss: 0.9603

100%|██████████| 2/2 [00:22<00:00, 11.13s/it]

val loss: 0.9537
Epoch 6/13
----------

 50%|█████     | 1/2 [00:22<00:22, 22.35s/it]

train loss: 0.9505

100%|██████████| 2/2 [00:22<00:00, 11.38s/it]

val loss: 0.9456
Epoch 7/13
----------

 50%|█████     | 1/2 [00:22<00:22, 22.59s/it]

train loss: 0.9337

100%|██████████| 2/2 [00:22<00:00, 11.49s/it]

val loss: 0.9394
Epoch 8/13
----------

 50%|█████     | 1/2 [00:22<00:22, 22.17s/it]

train loss: 0.9173

100%|██████████| 2/2 [00:22<00:00, 11.33s/it]

val loss: 0.9378
Epoch 9/13
----------

 50%|█████     | 1/2 [00:23<00:23, 23.35s/it]

train loss: 0.9062

100%|██████████| 2/2 [00:23<00:00, 11.92s/it]

val loss: 0.9354
Epoch 10/13
----------

 50%|█████     | 1/2 [00:23<00:23, 23.23s/it]

train loss: 0.8994

100%|██████████| 2/2 [00:23<00:00, 11.90s/it]

val loss: 0.9377
Epoch 11/13
----------

 50%|█████     | 1/2 [00:22<00:22, 22.54s/it]

train loss: 0.8958

100%|██████████| 2/2 [00:22<00:00, 11.48s/it]

val loss: 0.9359
Epoch 12/13
----------

 50%|█████     | 1/2 [00:21<00:21, 21.88s/it]

train loss: 0.8928

100%|██████████| 2/2 [00:22<00:00, 11.16s/it]

val loss: 0.9370
Epoch 13/13
----------

 50%|█████     | 1/2 [00:22<00:22, 22.99s/it]

train loss: 0.8893

100%|██████████| 2/2 [00:23<00:00, 11.70s/it]

val loss: 0.9368
Training complete in 5m 26s

In [12]:
uservcs = df['user_id_gr'].value_counts()
lfv = uservcs.idxmin()
min_user = df.loc[df['user_id_gr'] == lfv, 'user_id_gr']
min_user.iloc[0]

27846

In [5]:
df = hr.process_df()

Mapping for column 'isbn_gr' saved to data/processed//isbn_gr_mapping.pkl

In [8]:
df = hr.map_columns_to_int(hr.input_df, column_name='isbn_gr', mapping_dir='data/processed/')
df.head()

Mapping for column 'isbn_gr' saved to data/processed//isbn_gr_mapping.pkl

,user_id_gr,book_id_gr,rating_gr,goodreads_book_id_gr,best_book_id_gr,work_id_gr,books_count_gr,isbn_gr,isbn13_gr,authors_gr,...,work_text_reviews_count_gr,ratings_1_gr,ratings_2_gr,ratings_3_gr,ratings_4_gr,ratings_5_gr,image_url_gr,small_image_url_gr,ISBN_bx,Book-Rating_bx
0,1,212,3,6867,6867,2307233,155,0,9.780386e+12,Ian McEwan,...,14815,11473,25462,77135,134788,116800,https://images.gr-assets.com/books/1320449708m...,https://images.gr-assets.com/books/1320449708s...,038572179X,2.786517
17750,1,119,3,38447,38447,1119185,236,1,9.780385e+12,Margaret Atwood,...,35925,13998,32561,116975,252942,267088,https://images.gr-assets.com/books/1498057733m...,https://images.gr-assets.com/books/1498057733s...,038549081X,4.117647
25293,1,238,2,242006,242006,828773,79,2,9.780312e+12,Augusten Burroughs,...,11601,13569,27249,78405,105786,81379,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...,031242227X,3.546584
29017,1,60,3,1618,1618,4259809,183,3,9.781400e+12,Mark Haddon,...,35796,21049,58117,218218,355925,262481,https://images.gr-assets.com/books/1479863624m...,https://images.gr-assets.com/books/1479863624s...,1400032717,4.813187
38052,1,3889,3,77554,77554,1820281,71,4,9.780140e+12,Carol Shields,...,1459,572,1931,7485,11710,8397,https://images.gr-assets.com/books/1285159303m...,https://images.gr-assets.com/books/1285159303s...,014023313X,2.436464

In [6]:
hr.input_df

,user_id_gr,book_id_gr,rating_gr,goodreads_book_id_gr,best_book_id_gr,work_id_gr,books_count_gr,isbn_gr,isbn13_gr,authors_gr,...,work_text_reviews_count_gr,ratings_1_gr,ratings_2_gr,ratings_3_gr,ratings_4_gr,ratings_5_gr,image_url_gr,small_image_url_gr,ISBN_bx,Book-Rating_bx
0,1,212,3,6867,6867,2307233,155,038572179X,9.780386e+12,Ian McEwan,...,14815,11473,25462,77135,134788,116800,https://images.gr-assets.com/books/1320449708m...,https://images.gr-assets.com/books/1320449708s...,038572179X,2.786517
17750,1,119,3,38447,38447,1119185,236,038549081X,9.780385e+12,Margaret Atwood,...,35925,13998,32561,116975,252942,267088,https://images.gr-assets.com/books/1498057733m...,https://images.gr-assets.com/books/1498057733s...,038549081X,4.117647
25293,1,238,2,242006,242006,828773,79,031242227X,9.780312e+12,Augusten Burroughs,...,11601,13569,27249,78405,105786,81379,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...,031242227X,3.546584
29017,1,60,3,1618,1618,4259809,183,1400032717,9.781400e+12,Mark Haddon,...,35796,21049,58117,218218,355925,262481,https://images.gr-assets.com/books/1479863624m...,https://images.gr-assets.com/books/1479863624s...,1400032717,4.813187
38052,1,3889,3,77554,77554,1820281,71,014023313X,9.780140e+12,Carol Shields,...,1459,572,1931,7485,11710,8397,https://images.gr-assets.com/books/1285159303m...,https://images.gr-assets.com/books/1285159303s...,014023313X,2.436464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59977,53423,18,5,5,5,2402163,376,043965548X,9.780440e+12,"J.K. Rowling, Mary GrandPré, Rufus Beck",...,36099,6716,20413,166129,509447,1266670,https://images.gr-assets.com/books/1499277281m...,https://images.gr-assets.com/books/1499277281s...,043965548X,3.533333
154513,53423,90,5,231804,231804,1426690,156,014038572X,9.780140e+12,S.E. Hinton,...,22662,10178,34346,134244,227250,274419,https://images.gr-assets.com/books/1442129426m...,https://images.gr-assets.com/books/1442129426s...,014038572X,4.460674
222792,53423,3773,4,37034,37034,2127172,90,1567921892,9.781568e+12,"Susan Hill, John Lawrence",...,4070,732,3039,9986,11982,7622,https://images.gr-assets.com/books/1327869942m...,https://images.gr-assets.com/books/1327869942s...,1567921892,4.500000
262957,53424,8969,5,331701,331701,1986645,12,043933909X,9.780439e+12,Jon J. Muth,...,500,113,461,2574,4133,5722,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...,043933909X,10.000000
59978,53424,18,5,5,5,2402163,376,043965548X,9.780440e+12,"J.K. Rowling, Mary GrandPré, Rufus Beck",...,36099,6716,20413,166129,509447,1266670,https://images.gr-assets.com/books/1499277281m...,https://images.gr-assets.com/books/1499277281s...,043965548X,3.533333

In [50]:
import os
import urllib
import zipfile
import time
import pickle 
import torch
import numpy as np
import pandas as pd
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from torch.utils.data import DataLoader, TensorDataset
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

def map_columns_to_int(df: pd.DataFrame, save_column_name: str, mapping_dir: str = None):
    """
    Map columns of strings in a DataFrame to integers.

    Parameters:
        df (pd.DataFrame): DataFrame containing the columns to be mapped.
        column_names (list): List of column names to be mapped.
        mapping_dir (str): Directory path to save the mapping dictionaries. If None, mappings won't be saved.

    Returns:
        pd.DataFrame: DataFrame with the mapped columns.
    """
    for column_name in df.columns:
        # Create a mapping dictionary that assigns a unique integer to each unique string in the column
        unique_values = df[column_name].unique()
        mapping_dict = {value: idx for idx, value in enumerate(unique_values)}

        # Replace the strings in the column with their corresponding integer values
        df[f"{column_name}"] = df[column_name].map(mapping_dict)

        # Save the mapping dictionary to a file if mapping_dir is provided
        if column_name == save_column_name:
            mapping_file_path = f"{mapping_dir}{column_name}_mapping.pkl"
            with open(mapping_file_path, 'wb') as f:
                pickle.dump(mapping_dict, f)
            print(f"Mapping for column '{column_name}' saved to {mapping_file_path}")

    return df

In [51]:
# Call the function to map the 'Fruit' column and save the mapping
mapping_file_path = 'fruit_mapping.pkl'
df_mapped = map_columns_to_int(final_dataframe, save_column_name='isbn_gr', mapping_dir='data/processed/')

Mapping for column 'isbn_gr' saved to data/processed/isbn_gr_mapping.pkl

In [52]:
df_mapped.rename(columns={'Book-Rating_bx':'rating_bx'}, inplace=True)
df_mapped.head()

,user_id_gr,rating_gr,books_count_gr,isbn_gr,average_rating_gr,ratings_count_gr,work_ratings_count_gr,work_text_reviews_count_gr,ratings_1_gr,ratings_2_gr,ratings_3_gr,ratings_4_gr,ratings_5_gr,rating_bx
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17750,0,0,1,1,1,1,1,1,1,1,1,1,1,1
25293,0,1,2,2,2,2,2,2,2,2,2,2,2,2
29017,0,0,3,3,3,3,3,3,3,3,3,3,3,3
38052,0,0,4,4,4,4,4,4,4,4,4,4,4,4

In [59]:
y.dtypes

rating_gr    int64
dtype: object

In [173]:
df_mapped

,user_id_gr,rating_gr,books_count_gr,isbn_gr,average_rating_gr,ratings_count_gr,work_ratings_count_gr,work_text_reviews_count_gr,ratings_1_gr,ratings_2_gr,ratings_3_gr,ratings_4_gr,ratings_5_gr,rating_bx
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17750,0,0,1,1,1,1,1,1,1,1,1,1,1,1
25293,0,1,2,2,2,2,2,2,2,2,2,2,2,2
29017,0,0,3,3,3,3,3,3,3,3,3,3,3,3
38052,0,0,4,4,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59977,49684,3,8,8,8,8,8,8,8,8,8,8,8,8
154513,49684,3,76,98,1,98,98,98,97,97,98,98,98,74
222792,49684,2,56,230,82,229,230,225,213,224,228,230,228,30
262957,49685,3,127,388,60,387,388,356,250,367,377,385,384,56
59978,49685,3,8,8,8,8,8,8,8,8,8,8,8,8

In [62]:
X = df_mapped.loc[:, ['user_id_gr', 'isbn_gr','rating_bx']]
y = df_mapped.loc[:, ['rating_gr']]
X_train, X_val, y_train, y_val = train_test_split(X,y,random_state=0, test_size=0.2)

In [63]:
def prep_dataloaders(X_train,y_train,X_val,y_val,batch_size):
    # Convert training and test data to TensorDatasets
    trainset = TensorDataset(torch.from_numpy(np.array(X_train)).long(), 
                            torch.from_numpy(np.array(y_train)).float())
    valset = TensorDataset(torch.from_numpy(np.array(X_val)).long(), 
                            torch.from_numpy(np.array(y_val)).float())

    # Create Dataloaders for our training and test data to allow us to iterate over minibatches 
    trainloader = torch.utils.data.DataLoader(trainset, batch_size=batch_size, shuffle=True)
    valloader = torch.utils.data.DataLoader(valset, batch_size=batch_size, shuffle=False)

    return trainloader, valloader

batchsize = 128
trainloader,valloader = prep_dataloaders(X_train,y_train,X_val,y_val,batchsize)

In [64]:
class NNHybridFiltering(nn.Module):
    
    def __init__(self, n_users, n_isbn, n_bxrating, embdim_users, embdim_isbn, embdim_bxrating, n_activations, rating_range):
        super().__init__()
        self.user_embeddings = nn.Embedding(num_embeddings=n_users,embedding_dim=embdim_users)
        self.item_embeddings = nn.Embedding(num_embeddings=n_isbn,embedding_dim=embdim_isbn)
        self.genre_embeddings = nn.Embedding(num_embeddings=n_bxrating,embedding_dim=embdim_bxrating)
        self.fc1 = nn.Linear(embdim_users+embdim_isbn+embdim_bxrating,n_activations)
        self.fc2 = nn.Linear(n_activations,1)
        self.rating_range = rating_range

    def forward(self, X):
        # Get embeddings for minibatch
        embedded_users = self.user_embeddings(X[:,0])
        embedded_isbn = self.item_embeddings(X[:,1])
        embedded_bxrating = self.genre_embeddings(X[:,2])
        # Concatenate user, item and genre embeddings
        embeddings = torch.cat([embedded_users,embedded_isbn,embedded_bxrating],dim=1)
        # Pass embeddings through network
        preds = self.fc1(embeddings)
        preds = F.relu(preds)
        preds = self.fc2(preds)
        # Scale predicted ratings to target-range [low,high]
        preds = torch.sigmoid(preds) * (self.rating_range[1]-self.rating_range[0]) + self.rating_range[0]
        return preds

In [67]:
def train_model(model, criterion, optimizer, dataloaders, device, num_epochs=5, scheduler=None):
    model = model.to(device) # Send model to GPU if available
    since = time.time()

    costpaths = {'train':[],'val':[]}

    for epoch in range(num_epochs):
        print('Epoch {}/{}'.format(epoch, num_epochs - 1))
        print('-' * 10)

        # Each epoch has a training and validation phase
        for phase in ['train', 'val']:
            if phase == 'train':
                model.train()  # Set model to training mode
            else:
                model.eval()   # Set model to evaluate mode

            running_loss = 0.0

            # Get the inputs and labels, and send to GPU if available
            for (inputs,labels) in dataloaders[phase]:
                inputs = inputs.to(device)
                labels = labels.to(device)
                labels = labels.squeeze(1)
                # Zero the weight gradients
                optimizer.zero_grad()

                # Forward pass to get outputs and calculate loss
                # Track gradient only for training data
                with torch.set_grad_enabled(phase == 'train'):
                    outputs = model.forward(inputs).view(-1)
                    loss = criterion(outputs, labels)

                    # Backpropagation to get the gradients with respect to each weight
                    # Only if in train
                    if phase == 'train':
                        loss.backward()
                        # Update the weights
                        optimizer.step()

                # Convert loss into a scalar and add it to running_loss
                running_loss += np.sqrt(loss.item()) * labels.size(0)

            # Step along learning rate scheduler when in train
            if (phase == 'train') and (scheduler is not None):
                scheduler.step()

            # Calculate and display average loss and accuracy for the epoch
            epoch_loss = running_loss / len(dataloaders[phase].dataset)
            costpaths[phase].append(epoch_loss)
            print('{} loss: {:.4f}'.format(phase, epoch_loss))

    time_elapsed = time.time() - since
    print('Training complete in {:.0f}m {:.0f}s'.format(
        time_elapsed // 60, time_elapsed % 60))

    return costpaths

In [166]:
torch.save(model, 'models/hybrid_recommender.pkl')

In [172]:
type(cost_paths)

dict

In [165]:
cost_paths

{'train': [1.1403913739969505,
  1.132776576739605,
  1.1155160100094141,
  1.0741718728051977,
  1.0338396213810694,
  1.0154466358964702,
  1.0063411795198693,
  0.9984921283539584,
  0.9922154265627999,
  0.9891674907833722],
 'val': [1.1372237361590756,
  1.1321012967716966,
  1.1048318754795088,
  1.0913691876942555,
  1.0899176245831188,
  1.0942864167739264,
  1.0942790638733462,
  1.0950793111746717,
  1.1000072152343632,
  1.1003533173409459]}

In [69]:
# Train the model
dataloaders = {'train':trainloader, 'val':valloader}

n_users = X.loc[:,'user_id_gr'].max()+1
n_isbn = X.loc[:,'isbn_gr'].max()+1
n_bxrating = X.loc[:,'rating_bx'].max()+1

model = NNHybridFiltering(n_users,
                       n_isbn,
                       n_bxrating,
                       embdim_users=50, 
                       embdim_isbn=50, 
                       embdim_bxrating=25,
                       n_activations = 100,
                       rating_range=[0.,4.])
criterion = nn.MSELoss()
lr=0.001
n_epochs=10
wd=1e-3
optimizer = optim.Adam(model.parameters(), lr=lr, weight_decay=wd)
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

cost_paths = train_model(model,criterion,optimizer,dataloaders, device,n_epochs, scheduler=None)

Epoch 0/9
----------
train loss: 1.1404
val loss: 1.1372
Epoch 1/9
----------
train loss: 1.1328
val loss: 1.1321
Epoch 2/9
----------
train loss: 1.1155
val loss: 1.1048
Epoch 3/9
----------
train loss: 1.0742
val loss: 1.0914
Epoch 4/9
----------
train loss: 1.0338
val loss: 1.0899
Epoch 5/9
----------
train loss: 1.0154
val loss: 1.0943
Epoch 6/9
----------
train loss: 1.0063
val loss: 1.0943
Epoch 7/9
----------
train loss: 0.9985
val loss: 1.0951
Epoch 8/9
----------
train loss: 0.9922
val loss: 1.1000
Epoch 9/9
----------
train loss: 0.9892
val loss: 1.1004
Training complete in 3m 45s

In [168]:
model = torch.load('models/hybrid_recommender.pkl')

In [73]:
def predict_rating(model, userid, isbn, bxrating, device):
    # Get predicted rating
    model = model.to(device)
    with torch.no_grad():
        model.eval()
        X = torch.Tensor([userid,isbn,bxrating]).long().view(1,-1)
        X = X.to(device)
        pred = model.forward(X)
        return pred

# Get the predicted rating for a random user-item pair
rating = predict_rating(model,userid=5,isbn=1,bxrating=1, device=device)
print('Predicted rating is {:.1f}'.format(rating.detach().cpu().item()))

Predicted rating is 1.9

In [111]:
from tqdm import tqdm

In [169]:
def generate_recommendations(df, model, userid, n_recs, device):

    pred_ratings = []
    books_read = df.loc[df['user_id_gr'] == userid, 'isbn_gr'].values.tolist()
    isbns = [x for x in df['isbn_gr'].unique().tolist() if x not in books_read]

    for isbn in tqdm(isbns):
        bxrating = df.loc[df['isbn_gr'] == isbn, 'rating_bx'].values[0]
        pred = predict_rating(model, userid = userid, isbn = isbn, bxrating = bxrating, device=device)
        pred_ratings.append([isbn,pred.detach().cpu().item()])
        
    idxs = np.argsort(np.array(pred_ratings)[:,1])
    recs = np.array(pred_ratings)[idxs][-n_recs:,0]

    return recs

In [170]:
recs = generate_recommendations(df_mapped, model, 1, 3, device)

100%|██████████| 394/394 [00:00<00:00, 2393.06it/s]

array([ 16., 151., 149.])

In [74]:
data = {'isbn_gr': [1, 2, 3, 4, 5],
        'isbn_gr': [1, 2, 3, 4, 5]}
books = pd.DataFrame(data)

In [91]:
df_mapped.loc[df_mapped['user_id_gr'] == 1, 'isbn_gr'].values.tolist()

[7, 8, 9]

In [89]:
user_df = df_mapped.loc[df_mapped['user_id_gr'] == 1]
user_df

,user_id_gr,rating_gr,books_count_gr,isbn_gr,average_rating_gr,ratings_count_gr,work_ratings_count_gr,work_text_reviews_count_gr,ratings_1_gr,ratings_2_gr,ratings_3_gr,ratings_4_gr,ratings_5_gr,rating_bx
43032,1,0,7,7,7,7,7,7,7,7,7,7,7,7
44124,1,3,8,8,8,8,8,8,8,8,8,8,8,8
43952,1,2,9,9,9,9,9,9,9,9,9,9,9,9

In [4]:
df

NameError: name 'df' is not defined

In [15]:
isbn_map_path = 'data/processed/isbn_gr_mapping.pkl'
isbn_ref_path = 'data/processed/book_reference_dataframe.pkl'
import pickle
# Load the pickle file into a dictionary
with open(isbn_map_path, 'rb') as file:
    isbn_map = pickle.load(file)
isbn_map = {value: key for key, value in isbn_map.items()}
isbn_ref = pd.read_pickle(isbn_ref_path)

In [16]:
isbn_ref.head()

,isbn_gr,authors_gr,title_gr,original_publication_year_gr
0,038572179X,Ian McEwan,Atonement,2001.0
17750,038549081X,Margaret Atwood,The Handmaid's Tale,1985.0
25293,031242227X,Augusten Burroughs,Running with Scissors,2002.0
29017,1400032717,Mark Haddon,The Curious Incident of the Dog in the Night-Time,2003.0
38052,014023313X,Carol Shields,The Stone Diaries,1993.0

In [19]:
ref_row = isbn_ref[isbn_ref['isbn_gr'] == isbn_map[]].iloc[0]
author = ref_row['authors_gr']
title = ref_row['title_gr']
year = ref_row['original_publication_year_gr']
author, title, year

('Margaret Atwood', "The Handmaid's Tale", 1985.0)

In [117]:
file_path = 'data/processed/isbn_gr_mapping.pkl'

# Load the pickle file into a dictionary
with open(file_path, 'rb') as file:
    your_dict = pickle.load(file)

In [ ]:
def load_isbn_map():
    isbn_map_path = 'data/processed/isbn_gr_mapping.pkl'
    with open(isbn_map_path, 'rb') as file:
        isbn_map = pickle.load(file)
    isbn_map = {value: key for key, value in isbn_map.items()}

def load_isbn_df():
    isbn_ref_path = 'data/processed/book_reference_dataframe.pkl'
    isbn_ref = pd.read_pickle(isbn_ref_path)
    return isbn_ref

In [1]:
from hybrid_filtering_recommender import HybridFilteringRecommender

In [2]:
import pandas as pd
ref_path = 'data/processed/final_dataframe.pkl'
final_dataframe = pd.read_pickle(ref_path)
hfr = HybridFilteringRecommender(final_dataframe)

In [5]:
final_dataframe

        user_id_gr     isbn_gr  rating_bx  rating_gr
0                1  038572179X   2.786517          3
17750            1  038549081X   4.117647          3
25293            1  031242227X   3.546584          2
29017            1  1400032717   4.813187          3
38052            1  014023313X   2.436464          3
...            ...         ...        ...        ...
59977        53423  043965548X   3.533333          5
154513       53423  014038572X   4.460674          5
222792       53423  1567921892   4.500000          4
262957       53424  043933909X  10.000000          5
59978        53424  043965548X   3.533333          5

[264108 rows x 4 columns]

In [3]:
hfr.get_default_books()

Mapping for column 'isbn_gr' saved to data/processed//isbn_gr_mapping.pkl

  0%|          | 0/396 [00:00<?, ?it/s]

100%|██████████| 396/396 [00:00<00:00, 2440.00it/s]

(['Larry McMurtry',
  'George R.R. Martin',
  'J.K. Rowling, Mary GrandPré, Rufus Beck'],
 ['Lonesome Dove',
  'A Storm of Swords (A Song of Ice and Fire, #3)',
  'Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)'],
 [1985.0, 2000.0, 1999.0])